<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="assets/images/LogoPrimary.ico">
  <title>Electrodomesticos Marin</title>
</head>

<body data-bs-spy="scroll" data-bs-target="#navbar">
  <div id="app">
    <!-- HEADER -->
    <header id="header">
      <nav id="navbar" class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top mb-5">
        <div class="container">
          <a class="navbar-brand" href="">
            <img src="./assets/images/logo.png" alt="logo" style="height: 50px; width: 50px;">
            <span class="ms-1">Electrodomesticos Marin </span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex d-inline ">
              <li class="nav-item text-end" type="button">
                 <img src="assets/images/LogoCarro.png" alt="" >
                <span class="badge text-bg-secondary" v-text="length"></span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- /HEADER -->
    <!-- Espacio -->
    <section class="mt-5">
      <span>a</span>
    </section>
    <!-- /ESPACIO -->
    <!-- SELECT -->
    <section class="container mt-5 text-center">
      <span class="h4">Filtrar por categorías</span>
      <select class="form-select mt-3 text-center fw-bold" aria-label="Default select example">
        <option selected class="fw-bold">Todos</option>
        <option value="Tv" class="fw-bold">Televisores</option>
        <option value="Air fryers" class="fw-bold">Freidoras de aire</option>
        <option value="Fridge" class="fw-bold">Neveras</option>
        <option value="Washing machine" class="fw-bold">Lavadoras</option>
      </select>
    </section>
    <!-- /SELECT -->
    <!-- CARDS -->
    <section class="mt-5 mb-5">
      <div class="container">
        <div class="row row-text mb-4 p-0 ">
          <div class="col text-uppercase p-3 text-center ">
            <small class="h5 fw-bold">Productos</small>
          </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-3 col mb-4" v-for="item in dataAppliances">
                <div class="card col h-100">
                  <div class="container">
                    <div class="row">
                      <div class="col text-center btn" data-bs-toggle="modal" :data-bs-target="item.idModal">
                        <img :src="item.img" class="card-img-top card-img1 mb-1 mt-3" :alt="item.name">
                      </div>
                    </div>
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title" v-text="item.name"></h5>
                  </div>
                  <!-- Ingresar cantidad -->
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col text-center">
                        <p class="text-center fw-bold">Cantidad</p>
                      </div>
                      <div class="input-group mb-3">
                        <button class="btn btn-outline " type="button" id="button-image"><img src="assets/images/menos.png" alt=""></button>
                        <input type="number" class="form-control rounded text-center" placeholder=""
                          aria-label="Example text with button addon" aria-describedby="button-addon1" v-model="item.cant" >
                        <button class="btn btn-outline " type="button" id="button-image"><img src="assets/images/mas.png" alt=""></button>
                      </div>
                    </div>
                  </div>
                  <!-- /Ingresar Cantidad -->
                  <div class="card-footer">
                    <div class="container">
                      <div class="row">
                        <div class="col text-center">
                          <button type="button" class="btn btn-btn"> Agregar</button>
            
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- /CARDS -->

    <!-- MODAL -->
    <!-- Electrodomesticos-->
    <section id="hamburguesa-modal">
      <div class="container" v-for="item in dataAppliances">
        <!-- Modal hamburger Mega Stacker -->
        <div class="modal fade" :id="item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" id="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" v-text="item.name"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center" id=" modal-body-h">
                <div class="modal-body-image">
                  <img :src="item.img" :alt="item.name">
                </div>
              </div>
              <div class="modal-footer">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <h5 id="ingredients">Ingredientes:</h5>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p v-text="item.description"></p>
                      </div>
                      <div class="row">
                        <div class="col">
                          <h4 v-text="item.price"></h4>
                        </div>
                      </div>
                      <!-- Ingresar cantidad -->
                      <div class="container-fluid mb-2">
                        <div class="row">
                          <div class="col text-center">
                            <p class="text-center fw-bold">Cantidad</p>
                          </div>
                          <div class="input-group mb-3">
                            <button class="btn btn-outline " type="button" id="button-image"><img
                                src="assets/images/menos.png" alt="" @click=""></button>
                            <input type="number" class="form-control rounded text-center" placeholder=""
                              aria-label="Example text with button addon" aria-describedby="button-addon1"
                              v-model="item.cant">
                            <button class="btn btn-outline " type="button" id="button-image"><img
                                src="assets/images/mas.png" alt="" @click=""></button>
                          </div>
                        </div>
                      </div>
                      <!-- /Ingresar cantidad -->
                      <!-- Botón Agregar -->
                      <div class="container">
                        <div class="row">
                          <div class="col text-center mt-3">
                            <button type="button" class="btn btn-outline-light btn-lg" @click="">
                              Agregar</button>
                          </div>
                        </div>
                      </div>
                      <!-- /Botón Agregar -->
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
        <!-- /Hamburguesa Mega Stacker -->
      </div>
    
    
    </section>
    <!-- /electrodmesticos -->
    <!-- /MODAL -->

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>

</html>