:root{
  --textColor: #FFFFFF;
  --primary:#39a2f8;
}
* {
  font-family: 'Oswald', sans-serif;
}
/* modales */
#modal-content-h {
  background-color: var(--hamburguesa);
  color: #FFFFFF;
}

#modal-content-p {
  background-color: var(--hotDog);
  color: #FFFFFF;
}
.modal-body-image {
  background-color: #FFFFFF;
  margin: 30px;
  padding: 50px;
  border-radius: 4%;
}
.modal-body img {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}
#login {
  color: var(--textColor);
}

#login label {
  color: black;
}

#login img {
  width: 150px;
  height: 150px;
}
/* /modales */

/* Header */
#header nav{
  background: var(--primary) !important;
  color: var(--textColor);
}
#header img{
  width: 50px;
  height: 50px;
}
#header span{
  font-weight: bold;
}
/* /Header */

/* Cards */

.row-text .col {
  background-color: var(--primary);
  color: var(--textColor);
  font-weight: bolder;
}
.card-img1{
  height: 190px;
  width: 190px;
}
#button-image img{
  height: 20px;
}
/* Cards*/

/* Footer */
#footer a {
  color: white;
  text-decoration: none;
}
/* /Footer */