:root {
  --textColor: #FFFFFF;
  --primary: #39a2f8;
  --secundary: #2e88d2;
}

* {
  font-family: 'Oswald', sans-serif;
}

/* modales */
#modal-content-h {
  background-color: var(--hamburguesa);
  color: #FFFFFF;
}

#modal-content-p {
  background-color: var(--hotDog);
  color: #FFFFFF;
}

.modal-body-image {
  background-color: #FFFFFF;
  margin: 30px;
  padding: 50px;
  border-radius: 4%;
}

.modal-body img {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}


/* /modales */

/* Header */
#header nav {
  background: var(--primary) !important;
  color: var(--textColor);
}

#header img {
  width: 50px;
  height: 50px;
}

#header span {
  font-weight: bold;
}

/* /Header */
/* main */
#main .carousel-inner img {
  height: 650px;
  object-fit: cover;
}

@media (max-width: 588px) {
  #main .carousel-inner img {
    height: 40vh;
  }
}

#carousel {
  position: relative;
  filter: grayscale(30%);
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}
/* /main */
/* Cards */

.row-text .col {
  background-color: var(--secundary);
  color: var(--textColor);
  font-weight: bolder;
}

.card-img1 {
  height: 190px;
  width: 190px;
}

#button-image img {
  height: 20px;
}

.btn-btn {
  background: var(--primary);
  font-weight: bold;
}

#modal-content{
  background: var(--secundary);
  color: var(--textColor);
}
/* Cards*/

/* Footer */
#footer a {
  color: white;
  text-decoration: none;
}

/* /Footer */